<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DemoProject2.My.MySettings.UsersConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Users.accdb"
            providerName="System.Data.OleDb" />
        <add name="DemoProject2.My.MySettings.Cinema_1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Cinema 1.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DemoProject2.My.MySettings.Cinema_2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Cinema 2.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DemoProject2.My.MySettings.Cinema_3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Cinema 3.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DemoProject2.My.MySettings.Cinema_3ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\bin\Debug\Cinema 3.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DemoProject2.My.MySettings.Cinema_4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\bin\Debug\Cinema 4.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DemoProject2.My.MySettings.Cinema_4ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Cinema 4.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>